/* =========== Google Fonts ================== */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=VT323&display=swap');

html, body {
    background-color: #121212;
    font-family: 'Inter', sans-serif;
}

.head-text {
    font-family: 'VT323', monospace;
}

.jub-custom {
    width: 100%;
    background: #2F2C2C;
    border-radius: 0.7rem;
}

.jub-custom img {
    max-width: 100%;
    border-radius: 0.7rem 0.7rem 0 0;
}

.form-cus {
    background-color: #121212;
    border-color: #756C6C;
}

.form-cus:focus {
    background-color: #121212;
    border-color: #756C6C;
}

.form-cus::placeholder {
    color: #7E7676;
    opacity: 1; /* Firefox */
}

.form-cus:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #7E7676;
}

.form-cus::-ms-input-placeholder { /* Microsoft Edge */
    color: #7E7676;
}

.cus-border {
    border: 1px solid #756C6C;
}

.cus-text-sm {
    font-size: 0.8rem;
}

.cus-des-text {
    font-size: 15px;
}

.open-issue {
    width: 0.9rem;
}